<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/default.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/liveStreaming.css')}}">
    </head>
    <body>
        <main>
            <div class="leftSidebar">
                <div class="menubar">
                    <div class="optionBtn">
                        <img src="{{url_for('static', filename='img/setting.png')}}" alt="option">
                    </div>
                    <div class="changeBtn">
                        <img src="{{url_for('static', filename='img/arrowswitch.png')}}" alt="change">
                    </div>
                    <div class="shutdownBtn">
                        <img src="{{url_for('static', filename='img/shutdown.png')}}" alt="shutdown">
                    </div>
                </div>
            </div>
            <div class="leftWrap">
                <div class="checkNum">
                    <div class="checkNumTitle">
                        검사자 수 (당일 기준)
                    </div>
                    <div class="checkInfoArea">
                        <div class="checkNumResult">
                            10
                        </div>
                        <div class="checkNumEffect">
                            10
                        </div>
                    </div>
                </div>
                
                <div class="noMaskNum">
                    <div class="noMaskNumTitle">
                        마스크 미착용자 수 (당일 기준)
                    </div>
                    <div class="noMaskInfoArea">
                        <div class="noMaskNumResult">
                            0
                        </div>
                        <div class="noMaskNumEffect">
                            0
                        </div>
                    </div>
                    
                </div>
                
                <div class="maskPlot">
                    <div id="maskUsagePlot" class="maskUsagePlot">
                        
                    </div>
                </div>
                
            </div>
            <div class="mainWrap">
                <div class="imgStreaming">
                    <div class="mainCam">
                        <!--<img src="{{url_for('liveCam01')}}">-->
                        <img class="mainCamImg" src="..">
                    </div>
                    <div class="roadInfo">
                        <div class="roadCam">
                            <img class="roadCamImg" src="..">
                        </div>
                        <div class="carInfo">
                            <div class="carTitle">
                                Car Info
                            </div>
                            <div class="carStatus">
                                Controller:
                                direction:
                                Spd:
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chartWrap">
                    <div class="chartListArea">
                        <ul class="chartList">
                            <li class="chartHead">
                                <ul>
                                    <li>
                                        PersonID
                                    </li>
                                    <li>
                                        Temp
                                    </li>
                                    <li>
                                        Mask
                                    </li>
                                    <li>
                                        Date
                                    </li>
                                    <li>
                                        Info
                                    </li>
                                </ul>
                            </li>
                            <li class="chartTables">
                                <ul>
                                    <li class="chartTable">
                                        
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="chartInfoArea">
                        <div class="chartInfo">
                            <ul>
                                <li class="chartInfoTitle">
                                    INFORMATION
                                </li>
                                <li class="chartImageArea">
                                    <figure>
                                        <img src="..">
                                    </figure>
                                    <ul>
                                        <li>
                                            1번
                                        </li>
                                        <li>
                                            2번
                                        </li>
                                        <li>
                                            3번
                                        </li>
                                        <li>
                                            4번
                                        </li>
                                    </ul>
                                </li>
                                <li class="chartIntelligence">
                                    <div class="userName">
                                        이름: ????
                                    </div>
                                    <div class="predictedAge">
                                        예측 나이: ????
                                    </div>
                                    <div class="predictedGender">
                                        예측 성별: ????
                                    </div>
                                    <div class="temperature">
                                        측정 온도: ????
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightSidebar"></div>
        </div>
    
    </body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/liveStreaming.js')}}"></script>
</html>
