<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/default.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/liveStreaming.css')}}">
    </head>
    <body>
        <main>
            <div class="leftSidebar">
                <div class="menubar">
                    <div class="optionBtn">
                        <img src="{{url_for('static', filename='img/setting.png')}}" alt="option">
                    </div>
                    <div class="changeBtn">
                        <img src="{{url_for('static', filename='img/arrowswitch.png')}}" alt="change">
                    </div>
                    <div class="shutdownBtn">
                        <img src="{{url_for('static', filename='img/shutdown.png')}}" alt="shutdown">
                    </div>
                </div>
            </div>
            <div class="leftWrap">
                <ul>
                    <li class="statusWrap">
                        - STATUS -
                        <ul class="status">
                            <li>
                                Connection: ON
                            </li>
                            <li>
                                Controller: 
                                <span class="controllerValue"></span>
                            </li>
                            <li>
                                MaxSPD:
                                <span class="maxSPDValue"></span>
                            </li>
                            <li>
                                MinSPD:
                                <span class="minSPDValue"></span>
                            </li>
                            <li>
                                SPD: 50
                            </li>
                            <li>
                                DEG: 30
                            </li>
                            <li>
                                Kp:
                                <span class="kpValue"></span>
                            </li>
                            <li>
                                Ki:
                                <span class="kiValue"></span>
                            </li>
                            <li>
                                Kd:
                                <span class="kdValue"></span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="mainWrap">
                <div class="imgStreaming">
                    <div class="mainCam">
                        <!--<img src="{{url_for('liveCam01')}}">-->
                        <img src="..">
                    </div>
                    <div class="subCam">
                        <div class="sub1"></div>
                        <div class="sub2"></div>
                    </div>
                </div>
                <div class="plot">
                    <div class="PID">
                        
                    </div>
                    <div class="PWM">

                    </div>
                </div>
            </div>
            <div class="rightSidebar"></div>
        </div>
        <div class="modal">
            <div class="modalHeader">
                <div class="modalTitle">OPTION</div>
                <div class="resetBtn">
                    <img src="{{url_for('static', filename='img/reset.png')}}">
                </div>
            </div>
            <ul class="contentsWrap">
                <li class="maxSPDWrap">
                    <div class="optionName">
                        MaxSPD: 
                        <span class="modalMaxSPDValue"></span>
                    </div>
                    <div class="optionValue">
                        <input class="modalMaxSPDRange gauge" type="range" min="100" max="160" step="1">
                    </div>
                </li>
                <li class="minSPDWrap">
                    <div class="optionName">
                        MinSPD:
                        <span class="modalMinSPDValue"></span>
                    </div>
                    <div class="optionValue">
                        <input class="modalMinSPDRange gauge" type="range" min="0" max="60" step="1">
                    </div>
                </li>
                <li class="modeChangeWrap">
                    <div class="optionName">
                        Controller
                    </div>
                    <div class="optionValue">
                        <label>
                            <input class="modalControllerRange tooglebtn" type="range" min="1" max="3" step="1">
                            <ul>
                                <li>Auto</li>
                                <li>Web</li>
                                <li>JoyCon</li>
                            </ul>
                        </label>
                    </div>
                </li>
                <li class="kpWrap">
                    <div class="optionName">
                        Kp:
                        <span class="modalKpValue"></span>
                    </div>
                    <div class="optionValue">
                        <input class="modalKpRange gauge" type="range" min="100" max="160" step="1">
                    </div>
                </li>
                <li class="kiWrap">
                    <div class="optionName">
                        Ki:
                        <span class="modalKiValue"></span>
                    </div>
                    <div class="optionValue">
                        <input class="modalKiRange gauge" type="range" min="100" max="160" step="1">
                    </div>
                </li>
                <li class="kdWrap">
                    <div class="optionName">
                        Kd:
                        <span class="modalKdValue"></span>
                    </div>
                    <div class="optionValue">
                        <input class="modalKdRange gauge" type="range" min="100" max="160" step="1">
                    </div>
                </li>
            </ul>
            <div class="modalFooter">
                <div class="cancleBtn">
                    Cancle
                </div>
                <div class="applyBtn">
                    Apply
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="{{url_for('static', filename='js/liveStreaming.js')}}"></script>
</html>
