<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/default.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/liveStreaming.css')}}">
    </head>
    <body>
        <div class="modal">
            <div class="leftWrap">
                <label class="connectionWrap">
                    <div class="connectionStr">
                        Connection
                    </div>
                    <div class="connectionLED">
    
                    </div>
                    
                </label>
                <div class="menubar">
                    <div class="settings">

                    </div>
                    <div class="controllChange">

                    </div>
                    <div class="exit">

                    </div>
                </div>
            </div>
            <div class="mainWrap">
                <div class="imgStreaming">
                    <div class="mainCam">
                        <img src="{{url_for('liveCam01')}}">
                    </div>
                    <div class="subCam">
                        <div class="sub1"></div>
                        <div class="sub2"></div>
                    </div>
                </div>
                <div class="plot">
                    <div class="PID">
                        
                    </div>
                    <div class="PWM">

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
